{% extends 'base.html' %}
{% import 'macros.html' as m %}

{% block content %}
<h2>Add a Security Key</h2>

<form id="form" method="post" class="mb-3">
  {{ m.form_field('name', 'Key name', value=key_name) }}
  <input type="hidden" id="credential" name="credential">
  <button id="register" class="btn btn-primary">Configure Security Key</button>
</form>

<p>Or go <a href="{{ url_for('webauthn.keys') }}">back</a>.</p>
{% endblock %}

{% block scripts %}
<script type="module">
import { create } from "https://cdn.skypack.dev/@github/webauthn-json";

document.getElementById('register').addEventListener('click', async ev => {
  ev.preventDefault();
  const options = {{ options|tojson }};
  try {
    const cred = await create(options);   // objeto JSON-safe
    document.getElementById('credential').value = JSON.stringify(cred);
  } catch (err) {
    console.error(err);                   // seguirá enviando form vacío
  }
  document.getElementById('form').submit();
});
</script>
{% endblock %}
