{% extends 'base.html' %}
{% block content %}
<h2>Login with a Security Key</h2>

<form id="form" method="post" class="mb-3">
  <input type="hidden" id="credential" name="credential">
</form>
<p>Or go <a href="{{ url_for('main.index') }}">back</a>.</p>
{% endblock %}

{% block scripts %}
<script type="module">
import { get } from "https://cdn.skypack.dev/@github/webauthn-json";

const options = {{ options|tojson }};
try {
  const cred = await get(options);      // devuelve objeto JSON-safe
  document.getElementById('credential').value = JSON.stringify(cred);
} catch (err) {
  console.error(err);
}
document.getElementById('form').submit();
</script>
{% endblock %}
